n8n-workflow.json
{
  "name": "E-GARRAGE n8n Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "egarrage-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "E-GARRAGE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "egarrage-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{ $json.agent }}",
              "operation": "equal",
              "value2": "customer_service"
            }
          ]
        }
      },
      "id": "route-agent",
      "name": "Route by Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:12000/api/agents/run",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agentType",
              "value": "customer_service"
            },
            {
              "name": "input",
              "value": "{{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "customer-agent",
      "name": "Customer Service Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 150]
    },
    {
      "parameters": {
        "url": "http://localhost:12000/api/agents/run",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agentType",
              "value": "order"
            },
            {
              "name": "orderId",
              "value": "{{ $json.orderId }}"
            },
            {
              "name": "action",
              "value": "{{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "id": "order-agent",
      "name": "Order Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:12000/api/agents/run",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agentType",
              "value": "analytics"
            },
            {
              "name": "period",
              "value": "daily"
            }
          ]
        },
        "options": {}
      },
      "id": "analytics-agent",
      "name": "Analytics Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "E-GARRAGE Webhook": {
      "main": [
        [
          {
            "node": "Route by Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Agent": {
      "main": [
        [
          {
            "node": "Customer Service Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Order Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analytics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Service Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}